# Django及其依赖
django
djangorestframework 
django-cors-headers 
django-filter   
django-simple-captcha       

# 数据库驱动

PyMySQL 

# 工具依赖
requests    
python-whois    
dnspython
beautifulsoup4
lxml==4.9.3 
python-nmap
cryptography

# 日期时间处理
pytz
python-dateutil



# 其他工具
python-dotenv
tqdm
colorama
urllib3
certifi
chardet
idna
six

# 开发工具
pytest
pytest-django
coverage
black
flake8
isort

# 文档生成
Sphinx
sphinx-rtd-theme