{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block content %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body">
                    <form class="layui-form" lay-filter="password-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="old_password" class="layui-input" placeholder="请输入当前密码" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="new_password" class="layui-input" placeholder="请输入新密码" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="confirm_password" class="layui-input" placeholder="请再次输入新密码" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="password-submit">修改密码</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
layui.use(['form', 'layer', 'jquery'], function(){
    var form = layui.form;
    var layer = layui.layer;
    var $ = layui.jquery;
    
    // 监听表单提交
    form.on('submit(password-submit)', function(data){
        var field = data.field;
        
        // 验证两次输入的密码是否一致
        if(field.new_password !== field.confirm_password){
            layer.msg('两次输入的新密码不一致', {icon: 2});
            return false;
        }
        
        // 发送AJAX请求修改密码
        $.ajax({
            url: '/manager/api/change_password/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                old_password: field.old_password,
                new_password: field.new_password
            }),
            success: function(res){
                if(res.code === 200){
                    layer.msg('密码修改成功，请重新登录', {icon: 1});
                    setTimeout(function(){
                        window.location.href = '/manager/logout/';
                    }, 1500);
                } else {
                    layer.msg(res.message, {icon: 2});
                }
            },
            error: function(){
                layer.msg('服务器错误，请稍后再试', {icon: 2});
            }
        });
        
        return false; // 阻止表单跳转
    });
});
</script>
{% endblock %}
